* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: gray;
  margin-inline-start: 15px;
  text-decoration: none;
}
h1 {
  color: black;
  margin-inline-start: 15px;
}
h2 {
  margin-inline-start: 15px;
}
h3 {
  margin-inline-start: 15px;
}
.introduction {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  color: cornflowerblue;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
a[href^="https"] {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
  margin-inline-start: 0px;
}
a[href] {
  cursor: pointer;
}
#introductionParagraph {
  color: darkblue;
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
p {
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
.timeline.date1 {
  color: blue;
}

.timeline + .timeline {
  color: fuchsia;
}
.table {
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 25px;
  margin-inline-end: 15px;
}
