:root {
  --container-width: 1600px;
  --basic-space: 1rem;
  --text-size: 16px;
  --text-color: #b3b3ba;
  --basic-color: var(
    --gradient-red-text,
    linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
  );
  --bg-color: #f5f5fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: 400;
  line-height: 30px;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.dots {
  height: 6px;
  width: 6px;
  background-color: #b3b3ba;
  border-radius: 50%;
  margin: 10px;
}

/* ----------------------------------------------------------------- */

.navigation {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 2;
}

/* .logo {
  position: relative;
  padding-top: 50px;
}

.logotipe {
  position: absolute;
} */

.tel {
  color: var(--grey-text, #b3b3ba);
  text-align: right;
  font-weight: 700;
  text-decoration: none;
}

.link {
  color: var(--active-regular, #24a3ff);
  font-weight: 700;
  text-decoration: none;
}

.link:hover {
  color: var(--Accent, #f0145a);
  text-decoration: underline;
}

/* .upper-menu,
.lower-menu {
  display: flex;
  justify-content: flex-end;
} */

.lower-menu {
  gap: 15px;
}

.lang {
  margin-right: 14px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.en {
  padding: 5px 7px;
  border-radius: 8px;
  background: var(--Accent, #f0145a);
  color: #fff;
}

/* ------------------------------------------------------------ */

.title {
  background: var(
    --gradient-red-text,
    linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  font-weight: 700;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

/* ---------------------------------------------------------------------- */

.sample-img {
  max-width: 100%;
}

.card-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border-radius: 12px;
  /* max-width: 30%; */
  height: 462px;
}

.card-wrap {
  /* display: flex; */
  /* flex-wrap: wrap; */
  gap: 60px;
  padding-top: 60px;
  padding-bottom: 120px;
}

.discription-wrapper {
  width: 353px;
  max-width: 100%;
}

.name {
  color: #323264;
  font-weight: 700;
}

.position {
  font-size: 14px;
  line-height: 22px;
}

.btn {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  float: right;
  margin-top: -50px;
  position: inherit;
}

/* -------------------------------------------------- */

.footer {
  background-color: #f5f5fa;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-address {
  color: #323264;
}

.map {
  color: #24a3ff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.first-footer {
  display: flex;
  gap: 10px;
  margin-bottom: 21px;
}

.copy {
  text-align: right;
  position: relative;
  bottom: 96px;
}

.tel {
  color: #46466e;
  text-align: right;
  font-weight: 700;
}
/* -------------------------------------- */
@media (max-width: 1024px) {
  .card-wrap {
    grid-template-columns: repeat(3, 1fr);
  }

  .title {
    max-width: 1080px;
  }

  .sample-img {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .card-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    max-width: 664px;
  }
  .sample-img {
    max-width: 261px;
  }
}

@media (max-width: 375px) {
  .card-wrap {
    grid-template-columns: 100%;
  }

  .title {
    max-width: 375px;
  }

  .sample-img {
    max-width: 294px;
  }
}
